<div class="wrapper">
  <p-toolbar [style]="{ 'border-top': '1px solid var(--vscode-editorGroup-border)','border-bottom': '1px solid var(--vscode-editorGroup-border)' }">
    <div class="p-toolbar-group-left" style="flex: 1 1 auto">
      <button pButton type="button" (click)="greet()"><i class="pi pi-bars"></i></button>
    </div>
    <div class="p-toolbar-group-right" style="flex: 1 1 auto">
      <button pButton type="button" (click)="close()" class="ml-auto"><i class="pi pi-times"></i></button>
    </div>
  </p-toolbar>
  <main class="p-4">
    <h1>Webview in editor</h1>
  </main>
</div>
